<h1>Démo Réactif</h1>

<ul>
    <li *ngFor="let i of demoReactif$ | async">{{ i }}</li>
</ul>


<h1>Todo List</h1>

<div class="input-group mb-3">
    <span class="input-group-text">Title</span>
    <input type="text" class="form-control" [(ngModel)]="formTodo.title" />
</div>

@if (formTodo.title) {
    @if (formTodo.id > 0) {
        <div class="btn-group">
            <button class="btn btn-warning" (click)="addOrEditTodo()">Modifier</button>
            <button class="btn btn-danger" (click)="cancelEditTodo()">Annuler</button>
        </div>
    }

    @else {
        <button class="btn btn-success" (click)="addOrEditTodo()">Ajouter</button>
    }
}

<button class="btn btn-warning" (click)="refreshTodos()">Recharger les Todos</button>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Complet</th>
            <th>Complet Pipe</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let t of todos$ | async">
            <td>
                <a [routerLink]="[ '/todo', t.id ]">{{ t.id }}</a></td>
            <td>{{ t.title }}</td>
            <td>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="todoCompleted" [(ngModel)]="t.completed" />
                </div>

                <span *ngIf="t.completed">Terminé !</span>
                <span *ngIf="!t.completed">Non terminé</span>

                @if (t.completed) {
                    <span>Terminé !</span>
                }
                
                @else {
                    <span>Non terminé</span>
                }
            </td>
            
            <td [style.background]="t.completed | todoComplet:'couleur'">{{ t.completed | todoComplet | uppercase }}</td>
            
            <td>
                <div class="btn-group">
                    <button class="btn btn-warning" (click)="editTodo(t)">Modifier</button>
                    <button class="btn btn-danger" (click)="deleteTodo(t)">Supprimer</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<hr />

<h1>Troisième composant</h1>

<asc-list [todos]="todos">
    <ng-template #todotpl let-t="todo">
        Titre = {{ t.title }}, {{ t.completed | todoComplet }}
    </ng-template>

    <ng-template #autretpl let-c="cle">
        ICI J'AI QUELQUE CHOSE DE MON PARENT : {{ c }}
    </ng-template>
</asc-list>

<hr />

<asc-list [todos]="todos">
    <ng-template #todotpl let-t="todo">
        <div>
            {{ t.title }}
        </div>

        <div>
            {{ t.completed | todoComplet }}
        </div>
    </ng-template>
</asc-list>
