<form (ngSubmit)="addOrEditMatiere()" [formGroup]="matiereForm">
    <asc-text-field label="Libellé" formControlName="libelle" />

    <div *ngIf="matiereForm.get('libelle')?.hasError('required')" class="alert alert-danger">
        Le libellé est obligatoire
    </div>

    @if (editingMatiere) {
        <input type="submit" [disabled]="matiereForm.invalid" class="btn btn-warning" value="Modifier" />
    }

    @else {
        <input type="submit" [disabled]="matiereForm.invalid" class="btn btn-success" value="Ajouter" />
    }
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Libellé</th>
            <th></th>
        </tr>

        <tr *ngFor="let matiere of matieres$ | async">
            <td>{{ matiere.libelle }}</td>
            <td>
                <div class="btn-group">
                    <div class="btn btn-warning" (click)="editMatiere(matiere)">Modifier</div>
                    <div class="btn btn-danger" (click)="deleteMatiere(matiere)">Supprimer</div>
                </div>
            </td>
        </tr>
    </thead>
</table>
