<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout.html">
<head>
<meta charset="UTF-8">
<title>Edition d'un produit</title>
</head>
<body>

	<section layout:fragment="monContenu">
		<div class="container">
		<div class="card mt-3">
			<form th:action="@{/produit/save}" method="post">
				<div class="card-header bg-primary text-white display-6">Edition
					d'un produit</div>
				<div class="card-body">
					<div class="form-group">
						<label for="id">Identifiant:</label> <input type="number"
							class="form-control" id="id" name="id" th:value="${produit.id}" readonly />
					</div>
					<div class="form-group">
						<label for="libelle">Libellé:</label> <input type="text"
							class="form-control" id="libelle" name="libelle"
							th:value="${produit.libelle}" />
						<span class="text-danger" th:errors="${produit.libelle}"></span>
					</div>
					<div class="form-group">
						<label for="prix">Prix:</label> <input type="number"
							class="form-control" id="prix" name="prix" step="0.01"
							th:value="${produit.prix}" />
						<span class="text-danger" th:errors="${produit.prix}"></span>
					</div>
					<div class="form-group">
						<label for="idVendeur">Vendeur:</label>
						<select class="form-control" id="idVendeur" name="idVendeur">
							<option value=""></option>
							<option th:each="fournisseur : ${fournisseurs}" th:value="${fournisseur.id}" th:selected="${fournisseur.id == produit.vendeur?.id}">[[${fournisseur.id}]] - [[${fournisseur.nom}]]</option>
						</select>

<!-- 						<span class="text-danger" th:errors="${vendeur.id}"></span> -->
					</div>
				</div>
				<div class="card-footer">
					<div class="btn-group btn-group-lg float-right">
						<button type="submit" class="btn btn-success">
							<i class="bi bi-check-square-fill"></i>
						</button>

						<a class="btn btn-warning" th:href="@{/produit/cancel}"><i
							class="bi bi-backspace-fill"></i></a>
					</div>
				</div>
			</form>
		</div>
	</div>
	</section>

</body>
</html>