body {
    background-image: url('assets/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

table {
    border-collapse: collapse;
}

th, td {
    font-family: 'Orbitron', sans-serif;
    color: white;
    font-size: 20px;
    background-color: #505050;
}

h1 {
    font-family: 'Orbitron';
    color: white;
    text-shadow: 2px 2px 5px #FFFFFF;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

td img {
    width: 200px;
    max-height: 200px;
}

#logo {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

#logo td {
    background-color: transparent;
}

#logo img {
    width: 100px;
}