body{
    margin: 0;
    background-image: url(img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    font-family:Georgia, serif;
    color: white;
}



tr{
    border-radius: 10px;
    background-color: rgba(50, 63, 62, 0.8 );
    border: 1px solid white;
    display: block;
    margin-top: 10px;
    padding:10px;
}

.tr-race{
    height: 350px;
}

table{
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 90vw;
    border-collapse: collapse;
    border-spacing: 10px;
}
.table-image{
    margin-top: 50px;
    width: 250px;
    height: 250px;
}

.td-description{
    width: 500px;
}

.td-traits{
    width: 500px;
}

.td-peuples{
    width: 250px;
}

.td-image{
    width:250px
}

.traits{
    margin-top: 25px;
    height: 300px;
    overflow-y: scroll;
    scrollbar-width: thin; /* Pour Firefox : rétrécit la barre de défilement */
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent; /* Pour Firefox : couleur de l'indicateur de scroll */
}
